.create-task-name{
	border: 0;
	background: transparent;
	border-bottom: 2px solid black;
	width: 30%;
	outline:0 ;
}

.show-area{
	margin-left: 3%;
	width: 100%;
	font-size: 1em;
}

.show-area ul{
	list-style: none;
}

.show-area li{
	margin-top :4%;
}

.show-area input[type="text"]{
	width: 60%;
}

.tasks-area li{
	cursor: pointer;
	list-style: none;
}

.completed{
	text-decoration: line-through;
}