#header{
	width:100%;
	font-size: 1em;
	text-align:center;
}

#header ul{
	list-style: none;
	margin-left: -1%;
}

#header ul li{
	display: inline-block;
	margin-right: 6%;
}

#header p{
	margin-bottom:3px;
	font-weight:bold;
	font-size:1.3em;
}

.create{
	/*border: 2px solid green;*/
	/*background: url("../images/create.png") no-repeat;*/
	border: solid none;
	height: 26px;
	margin-left: 40%;
	width: 26px;
	cursor: pointer;
}